<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>CRUD de Usuarios</title>
    <style>
        /* Agregue aquí sus estilos personalizados */
        body {
            font-weight: bold;
            padding: 15px;
            color: #000;
            background-color: #fff;
        }

        h1 {
            color: #000;
            text-align: center;
        }

        form {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #000;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            color: #000;
            background-color: #fff;
        }

        .btn-primary {
            background-color: #000;
            color: #fff;
            border: none;
            padding: 5px 10px;
            font-size: 14px;
        }

        hr {
            margin: 20px 0;
            border: none;
            border-top: 1px solid #000;
        }

        h2 {
            color: #000;
        }

        .list-group-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #000;
            color: #000;
            background-color: #fff;
        }

        .btn-info,
        .btn-danger {
            color: #fff;
            padding: 3px 8px;
            margin-left: 5px;
            font-size: 12px;
            background-color: #000;
        }

        .image-container {
            text-align: center;
            margin-top: 30px;
        }

        .image-container img {
            max-width: 300px;
            height: auto;
        }

        .list-group-item-actions {
            display: flex;
            align-items: center;
        }

        .list-group-item-actions a {
            margin-left: 5px;
        }
    </style>
</head>

<body>
    <h1>Usuarios</h1>
    <div class="image-container">
        <img src="https://w7.pngwing.com/pngs/1022/170/png-transparent-users-group-computer-icons-user-s-computer-website-internet-forum-thumbnail.png" alt="Imagen">
    </div>
    <form action="/users" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit" class="btn btn-primary">Crear Usuario</button>
    </form>
    <hr>
    <h2>Lista de Usuarios</h2>
    <ul>
        <% users.forEach((user) => { %>
        <li class="list-group-item">
          <div class="list-group-item-content">
          <%= user.name %> (<%= user.email %>)
          </div>
          <div class="list-group-item-actions">
          <a href="/users/edit/<%= user._id %>" class="btn btn-sm btn-info">Editar</a>
          <a href="/users/delete/<%= user._id %>" class="btn btn-sm btn-danger">Eliminar</a>
          </div>
          </li>
          <% }) %>
          </ul>
          
          </body>
          </html>
